.startBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  white-space: nowrap;
  margin-left: -15%;
  margin-right: -15%;
  border: dashed;
  border-color: darkorange;
  border-radius: 5%;
}

.startBox__startButton {
  box-shadow: 2px 2px 11px -1px #916100;
  background: linear-gradient(to bottom, #bedb6d 5%, #8a840b 100%);
  background-color: #bedb6d;
  border-radius: 21px;
  border: 5px solid #95ab19;
  display: inline-block;
  cursor: pointer;
  color: #f6fac3;
  font-family: Impact;
  font-size: 24px;
  font-style: italic;
  padding: 20px 36px;
  text-decoration: none;
  margin-bottom: 10%;
}
.startBox__startButton:hover {
  background: linear-gradient(to bottom, #8a840b 5%, #bedb6d 100%);
  background-color: #8a840b;
}
.startBox__startButton:active {
  position: relative;
  top: 1px;
}

.startBox__title {
  /* font-size: xxx-large; */
  margin-bottom: 20%;
  margin-top: 10%;
}
